.wp-block-occ-slider {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    // allow gallery items to go edge to edge
    margin: 0 -8px 0 -8px;

    .blocks-gallery-image,
    .blocks-gallery-item {
        margin: 8px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        position: relative;


        figure {
            margin: 0;
            height: 100%;
            display: flex;
            align-items: flex-end;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        figcaption {
            padding: 40px 10px 5px;
            color: #fff;
            text-align: center;
            font-size: 13px;
            background: linear-gradient( 0deg, rgba( $color: #000, $alpha: 0.7 ) 0, rgba($color: #000, $alpha: 0.3) 60%, transparent );
            position: absolute;
            width: 100%;
            max-height: 100%;
            overflow: auto;
        }
    }

    // Cropped
    &.is-cropped .blocks-gallery-image,
    &.is-cropped .blocks-gallery-item {
      a,
      img {
            flex: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        // Alas, IE11+ doesn't support object-fit
        _:-ms-lang(x), figure {
            height: auto;
            width: auto;
        }
    }

    // Responsive fallback value, 2 columns
    & .blocks-gallery-image,
    & .blocks-gallery-item {
        width: calc( 100% / 2 - 16px );
    }

    // Apply max-width to floated items that have no intrinsic width
    [data-align="left"] &,
    [data-align="right"] &,
    &.alignleft,
    &.alignright {
        max-width: 636px / 2;
        width: 100%;
    }
}

.wp-block-occ-slider.components-placeholder {
	margin: 0px;
}
.gutenberg .wp-block-occ-slider:not( .components-placeholder ) {
	// allow gallery items to go edge to edge
	margin-left: -8px;
	margin-right: -8px;
}

.blocks-gallery-item {

	.is-selected {
		outline: 4px solid theme( primary );
		outline-offset: -4px;
	}

	&.is-transient img {
		animation: loading_fade 1.6s ease-in-out infinite;
	}

	.editor-rich-text {
		position: absolute;
		width: 100%;
		max-height: 100%;
		overflow-y: auto;
	}

	.editor-rich-text figcaption:not( [data-is-placeholder-visible="true"] ) {
		position: relative;
		overflow: hidden;
	}

	.is-selected .editor-rich-text {
		width: calc( 100% - 8px );
		left: 4px;
		margin-top: -4px;
	}

	.components-form-file-upload,
	.button.core-blocks-gallery-add-item-button {
		width: 100%;
		height: 100%;
	}

	.button.core-blocks-gallery-add-item-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: none;
		border: none;
		border-radius: 0;
		min-height: 100px;

		& .dashicon {
			margin-top: 10px;
		}

		&:hover,
		&:focus {
			border: 1px solid #999;
		}
	}
}

.core-blocks-gallery-item__inline-menu {
	padding: 2px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: theme( primary );
	display: inline-flex;
	z-index: z-index( '.core-blocks-gallery-item__inline-menu' );

	.components-button {
		color: #fff;
		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

.blocks-gallery-item__remove {
	padding: 0;
}

.blocks-gallery-item .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
